<script id="result-template" type="text/x-handlebars-template">


  <div class="navbar navbar-default">
    <div class="container-fluid">
     <div class="navbar-header" style="width:100%;margin:0px">

        <div class="collapse navbar-collapse" id="ecosis-header-collapse">

          <ul class="nav navbar-nav">
            <li>
              <a goto="package" style="cursor:pointer"><i class="fa fa-info-circle"></i> Dataset Information</a>
            </li>
            <li>
              <a goto="chart" style="cursor:pointer"><i class="fa fa-area-chart"></i> Data Viewer</a>
            </li>
            <li>
              <a goto="download" style="cursor:pointer"><i class="fa fa-download"></i> Download</a>
            </li>

            <li class="dropdown" id="resourcesDropdown" style="display:none">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="result-back-btn" >
               <i class="fa fa-search"></i> Back to Search
             </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

<div style="padding: 0 2%">

  <h3 class="page-header" style="margin:0" id="package"><i class="fa fa-info-circle"></i> {{ecosis._title}}</h3>
  <div id="dataset-content" class="well"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

  <h4 class="page-header" id="chart" ><i class="fa fa-area-chart"></i> Data Viewer</h4>
  <div id="dataViewerRoot" class="well"></div>

  <h4 class="page-header" id="download"><i class="fa fa-download"></i> Download</h4>
  <div id="downloaderRoot" class="well"></div>

</div>

</script>
