<script id="result-template" type="text/x-handlebars-template">


  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
     <div class="navbar-header" style="width:100%;margin:0px">
       <a class="result-back-btn navbar-brand visible-xs-inline-block"  style="font-size: 14px; cursor: pointer" >
        <i class="fa fa-search"></i> Back to Search
       </a>

       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ecosis-header-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      </div>

      <div class="collapse navbar-collapse" id="ecosis-header-collapse">

        <ul class="nav navbar-nav">
          <li>
            <a goto="package" style="cursor:pointer"><i class="fa fa-info-circle"></i> Dataset Information</a>
          </li>
          <li>
            <a goto="chart" style="cursor:pointer"><i class="fa fa-area-chart"></i> Data Viewer</a>
          </li>
          <li>
            <a goto="download" style="cursor:pointer"><i class="fa fa-download"></i> Download</a>
          </li>

          <li class="dropdown" id="resourcesDropdown" style="display:none">
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="result-back-btn"  style="cursor:pointer" >
             <i class="fa fa-search"></i> Back to Search
           </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

<div style="padding: 90px 2% 0 2%">

  <h3 class="page-header" style="margin:0" id="package">
    <i class="fa fa-info-circle"></i>
    <span>{{ecosis._title}}</span>
    <span style="display:none">{{ecosis.href}}</span>
    <span style="display:none">
      <span>Spectra</span>
    </span>
  </h3>
  <div id="dataset-content" class="well"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

  <h3 class="page-header" id="chart" ><i class="fa fa-area-chart"></i> Data Viewer</h3>
  <div id="dataViewerRoot" class="margin: 0 20px"></div>

  <h3 class="page-header" id="download"><i class="fa fa-download"></i> Download CSV</h3>
  <div id="downloaderRoot" class="well"></div>

</div>

</script>
