/******
 * General CSS
 ******/

.sandbox {
	display: none;
}

.card {
	padding: 15px;
	margin: 20px;
	box-shadow: 0 0 10px #aaa;
	overflow: auto;
}
@media(max-width: 640px) {
	.card {
		padding: 10px;
		margin: 15px 0px;
		box-shadow: 0 0 5px #aaa;
	}
}

.card > .page-header {
	margin-top: 0px;
}

.filter-block {
	display : none;
}

.search-block-title {
	cursor      : pointer;
	font-weight : bold;
}

.all-filters-link {
	cursor: pointer;
	white-space: nowrap;
}

.well {
	background-color: white !important;
}

.splash {
	margin-top: 0px;
	padding: 60px 0;
	text-align: center;
	min-height: 400px;
	width: 100%;
}
.splash h1 {
	color: white;
	letter-spacing: 10px;
	text-shadow: 0 0 15px #333;
	padding-left: 30px;
	padding-right: 30px;
}
.splash h1 div {
	font-size:2em;
}
.splash h3 {
	color: white;
	letter-spacing: 5px;
	text-shadow: 0 0 15px #333;
}
.splash-url {
	letter-spacing: 5px;
	color:white;
	margin: 20px 0;
	padding: 20px 0;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

@media(max-width: 680px) {
	.splash h1 {
		letter-spacing: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.splash h1 div {
		font-size:1.5em;
	}
	.splash h3 {
		letter-spacing: 2px;
	}
	.splash-url {
		letter-spacing: 2px;
		margin: 10px 0;
		padding: 10px 0;
	}
}